.login {
    padding: 5px;
    }
    
.login p.error {
    padding: 5px;
    border: 1px solid #ff0000;
    background-color: #f08080;
    }
.login p.error a:link {
    color: #333333;
    }

.login p.message {
    padding: 5px;
    border: 1px solid #ffff00;
    background-color: #ffffe0;
    }
