#login {
    padding: 5px;
    }
    
#login .error {
    padding: 5px;
    border: 1px solid #ff0000;
    background-color: #f08080;
    }

#login .message {
    padding: 5px;
    border: 1px solid #ffff00;
    background-color: #ffffe0;
    }
