#theme_my_login_user_links div.ajax-response {
	border: none;
}

#theme_my_login_user_links .submit input {
	text-decoration: none;
	font-size: 11px !important;
	line-height: 13px;
	padding: 3px 8px;
	cursor: pointer;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 11px;
	-khtml-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-khtml-box-sizing: content-box;
	box-sizing: content-box;
}

#theme_my_login_user_links table,
#theme_my_login_user_links input,
#theme_my_login_user_links textarea {
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#theme_my_login_user_links .updatelink,
#theme_my_login_user_links .deletelink {
	margin: auto;
}

#theme_my_login_user_links thead th {
	padding: 5px 8px 8px;
	background-color: #ececec;
	border-bottom: 1px solid #cfcfcf;
}

.admin-color-classic #theme_my_login_user_links thead th {
	background-color: #eaf3fa;
	border-bottom: 1px solid #d0dfe9;
}

#theme_my_login_user_links .submit {
	border: 0 none;
	float: none;
	padding: 5px 8px;
	width: 25%;
}

#theme_my_login_user_links table {
	margin: 0;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
	border-color: #cfcfcf;
	background-color: #f9f9f9;
}

#theme_my_login_user_links table.user-links {
	border-bottom-width: 0;
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 0;
}

#theme_my_login_user_links table.new-link {
	border-top-width: 0;
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 0;
}

.admin-color-classic #theme_my_login_user_links table {
	border-color: #d0dfe9;
}

#theme_my_login_user_links table input[type="text"] {
	width: 95%;
	margin: 8px 0 8px 8px;
	border-color: #dfdfdf;
	background-color: #fff;
}

#theme_my_login_user_links th.left,
#theme_my_login_user_links td.left {
	width: 35%;
}

#theme_my_login_user_links td.center {
	text-align: center;
}

#theme_my_login_user_links .submit input {
	width: auto;
}
